.account-main-container {
  // background: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-color: #160e1e;

  .title-account {
    color: #ccc;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 40px;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .table-user-account {
    #customers-account {
      border: 3px solid #ccc;

      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;

      tr {
        // &:nth-child(even) {
        //   background-color: #f2f2f2;
        // }

        &:hover {
          //   background-color: #ddd;
          opacity: 0.9;
        }

        th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: center;
          //   background-image: url("../../../img/btn.png");
          //   background-size: cover;
          background-color: #fff;

          // background-color: #0d6efd;
          //   background-color: #ddd;
          // background: linear-gradient(to right, #6dd5fa, #ffffff);
          color: #000;
          border: 1px solid #fff;
          font-size: 16px;
          font-weight: bold;
        }

        td {
          //   background-image: url("../../../img/btn.png");
          //   background-size: cover;
          background-color: #fff;
          border: 0.5px solid #ddd;
          padding: 8px;
          color: #000;
          text-align: center;
          font-size: 16px;
          //   font-weight: bold;
          opacity: 0.9;

          .avatar-image {
            width: 50px;
            height: 50px;
            border-radius: 20%;
          }

          .btn-edit {
            // color: #b1ff00;
            font-size: 18px;
            background-color: transparent;
            width: 22%;

            &:hover {
              color: #000;
              opacity: 0.8;
            }
          }

          .btn-delete {
            // color: #ff0000;
            font-size: 18px;
            background-color: transparent;
            width: 22%;

            &:hover {
              color: #000;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
