@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$primary: #007bff;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;

body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
	width: 1500px;
}

.shadow {
	// box-shadow: 2 2px 10px rgba(18, 18, 18, 0.1) !important;
	box-shadow: 1 2.5px 12px red!important;
}

.profile-tab-nav{
	height: 500px;
	min-width:250px;
	border-right: 1px solid #e6dede!important;
}
.tab-content{
	flex:1;
}
.form-group {
    margin-bottom: 1.5rem;
}

.nav-pills{
	margin-top: -20px;
	a.nav-link{
		padding:15px 20px;
		border-bottom:1px solid #ddd;
		border-radius:0;
		color:#1b0404;		
		// color: #EE2A2B;
		// border-color: currentColor;
		}
		i{
			width:20px;
		}
	}
.active1{
	color: #EE2A2B;
	border-color: cornflowerblue;
    // font-weight: normal;
}
  .active2{
	color: #0e0d0d;
}
//   .hd-nav__link--cur{
//     color: #EE2A2B;
//     font-weight: normal;
// }
// .hd-nav__link {
//     display: block;
//     text-align: center;
//     padding: 8px 0;
//     position: relative;
//     -webkit-transition: color 0.3s;
//     transition: color 0.3s;
// }
// 
// 	-webkit-transition: border-color 0.3s;
//     transition: border-color 0.3s;
//     position: absolute;
//     content: '';
//     left: 0;
//     right: 0;
//     bottom: 0;
//     border-top: 3px solid transparent;
// }
// .hd-nav__link:after {
//     -webkit-transition: border-color 0.3s;
//     transition: border-color 0.3s;
//     position: absolute;
//     content: '';
//     left: 0;
//     right: 0;
//     bottom: 0;
//     border-top: 3px solid transparent;
// }
.img-circle {
	img {
		height: 100px;
		width: 100px;
		border-radius: 100%;
		border: 5px solid #fff;
		margin-left: 44px;
		
	}
}
.name{
	color: #333;
	margin-left: -16px;
}
.text-input{
	color: #333;
}
.line{
	border-bottom:2px solid #ddd;
}
.btn-update{
	width: 98px;
	height: 40px;
	border-radius: 6px;
	margin-top: 40px;
}
.btn-cancel{
	color: #333;
	width: 66px;
	height: 40px;
	border-radius: 6px;
	// border: 1px solid #333;
	margin-left: 4px;

}
// .password-toggle-icon{
// 	position:absolute;
// 	top: 8px;
// 	right: 10px;
// 	z-index: 1000;
// 	cursor: pointer;
// 	color: #1b0404;
// }