.skins-detail {
  margin-top: 100px;
  .skins-detail-page {
    .inner-page {
      width: 1168px;
      margin: 0 auto;
      position: relative;
      .skins-hero {
        .title {
          font-size: 36px;
          margin-bottom: 3%;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          line-height: 40px;
          color: #cfc39b;
        }
      }

      .bxskin {
        // position: relative;
        // left: auto;
        // right: auto;
        width: 8%;
        margin-left: auto;
        margin-right: auto;
        .cont-skin {
          .tabs-content-skin {
            border: 1px solid #a08945;
            display: block;
          }
        }
        .numeral {
          text-align: center;
          margin-top: 40px;
        }
      }
      .bxnumeral {
        border: 1px solid #a08945;
        padding: 3% 5% 2% 5%;
        .headbx {
          border-bottom: 1px solid #a08945;
          padding-bottom: 15px;
          .edit-skins-button {
            font-size: 32px;
            .edit-skins-btn {
              border-radius: 6px;
              margin-left: 10%;
              // margin-bottom: 12px;
              // background: -webkit-linear-gradient(left, #7579ff, #b224ef);
              background-color: #acacac;
              opacity: 0.7;

              &:hover {
                // background: linear-gradient(135deg, #b224ef 0%, #7579ff 100%);
                opacity: 1;
              }
            }

            button {
              position: relative;
              bottom: 40px;
              left: 10px;
              color: #fff !important;
              // font-size: 30px;
              background-color: transparent;
              // width: 15%;

              &:hover {
                color: #b1ff00;
              }
            }
          }

          .txt {
            color: #fff;
            font-size: 26px;
            text-transform: uppercase;
            font-family: arial, helvetica, sans-serif;
          }
        }
        .cont {
          padding: 20px 0 0 0;
          overflow: hidden;
          .col {
            float: left;
            width: 33.3333%;
            padding-right: 20px;
            p {
              margin-bottom: 5px;
              label {
                margin-right: 10px;
                font-weight: 500;
              }
              .champion_stat {
                width: 20%;
                color: #a08945;
              }
            }
          }
        }
      }
      .bxskill {
        border: 1px solid #a08945;
        margin-top: 5%;
        .tabs-link {
          margin: 0;
          border-bottom: 1px solid #a08945;
          overflow: hidden;
          li {
            display: inline-block;
            padding: 0 20px;
            float: left;
            background: url("../../../img/line-link.png") right no-repeat;

            &:hover,
            &.active {
              background: url("../../../img/nav-current.png") bottom center
                no-repeat;
              background-size: 100% auto;
              text-decoration: none !important;
              cursor: pointer;
            }
          }
          .txtskill {
            line-height: 58px;
            display: block;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            font-size: 18px;
            // background: url(https://lienquan.garena.vn/asset/images/nav-current.png) bottom center no-repeat;
            // background-size: 100% auto;
            // text-decoration: none !important;
          }
        }
        .cont-skill {
          padding: 3% 3%;
          overflow: hidden;
          .tabs-content {
            display: block;
            .ask {
              color: #00ffff;
            }

            .col-skill {
              width: 33.3333%;
              float: left;
              border-right: 1px solid #a08945;
              padding-right: 10%;
              padding-left: 4%;
              max-height: 5%;

              &:nth-child(3) {
                border-right: none;
              }
              .item-skill {
                height: 500px !important;
                border-bottom: 1px solid #a08945;
                padding: 7% 0;
                overflow: hidden;
                .img-skill {
                  width: 25%;
                  float: left;

                  img {
                    // width: 50px;
                    // height: 80px;
                  }
                }
                .in-skill {
                  width: 75%;
                  float: left;
                  padding-left: 7%;
                  .name-skill {
                    font-size: 20px;
                    text-transform: uppercase;
                    // margin-top: 2px;
                    margin-bottom: 16px;
                    line-height: 22px;
                    color: #00ffff;
                  }
                  .txt {
                    color: #b1ff00;
                    margin-bottom: 16px;

                    &:nth-child(2) {
                      color: #ff8c00;
                    }
                  }
                }
              }
              .item-skill:last-child {
                border: none;
              }
            }
          }
        }

        .edit-skins-button {
          font-size: 32px;
          position: relative;
          top: 30px;
          right: 44px;

          .edit-skins-btn {
            // font-size: 24px;
            border-radius: 6px;
            margin-left: 10%;
            // margin-bottom: 12px;
            // background: -webkit-linear-gradient(left, #7579ff, #b224ef);
            background-color: #acacac;
            opacity: 0.7;

            &:hover {
              // background: linear-gradient(135deg, #b224ef 0%, #7579ff 100%);
              opacity: 1;
            }
          }

          button {
            position: relative;
            bottom: 44px;
            left: 28px;
            color: #fff !important;
            // font-size: 30px;
            background-color: transparent;
            // width: 15%;

            &:hover {
              color: #b1ff00;
            }
          }

          .edit-skins-btn-2 {
            position: relative;
            left: 90px;
          }
        }
      }
    }
  }
}
