.footer {
  padding: 75px 0 30px 0;
  text-align: center;

  background: url(../../img/line.png) top center no-repeat;
  // background: url(../../img/line.png) top center no-repeat;
  // margin-top: 50px;

  .inner-page {
    width: 1168px;
    margin: 0 auto;
    position: relative;

    .logo-page {
      .logo-aov {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .address {
      border-top: 1px solid #333;
      padding-top: 15px;
      width: 80%;
      margin: 10px auto 0 auto;
    }
  }

  ul {
    li {
      margin: 4px;
      a {
        color: #3372b2;
        text-decoration: none;
        outline: none !important;
      }
    }
  }
}
