header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
}

.inner-page {
  width: 1168px !important;
}

.logo {
  width: 150px;
  margin-left: -84px;
}

.title-menu-top:hover {
  border-bottom: 2px solid #fff;
}

.top-menu-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 60px;
  display: inline-block;
  background: url(../../../img/line-nav.jpg) center left no-repeat;
}

.menu-top li:nth-of-type(4),
.menu-top li:nth-of-type(5),
.menu-top li:nth-of-type(6),
.menu-top li:nth-of-type(7),
.menu-top li:nth-of-type(8) {
  float: right;
}
