.tab-link {
  width: 1140px;
  margin: 0 auto 50px auto;

  .nav-link {
    width: 846px;
    height: 58px;
    margin: 0 auto;
    padding: 0 30px;

    .link-title {
      display: inline-block;
      padding: 0 20px;
      float: left;

      .link-item {
        text-transform: capitalize;
        line-height: 58px;
        display: block;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        background: url(../../img/btn.png) bottom center no-repeat;
        background-size: 100% 100%;

        &:hover {
          font-weight: bold;
          color: #000;
          background: url(../../img/btn-active.png) bottom center no-repeat !important;
          background-size: 100% 100% !important;
        }
      }
    }

    .current {
      font-weight: bold !important;
      color: #000 !important;
      background: url(../../img/btn-active.png) bottom center no-repeat !important;
      background-size: 100% 100% !important;
    }
  }
}
