.hero-week {
  background: url(../../img/bg-cham.jpg) bottom center no-repeat;
  background-size: 1920px 100%;
  padding: 5% 0;
  position: relative;

  .inner-page {
    width: 1168px;
    margin: 0 auto;
    position: relative;

    .title {
      font-size: 36px;
      margin-bottom: 3%;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      line-height: 40px;
      color: #cfc39b;
    }

    .tabs-hero-week {
      min-height: 400px;
      position: relative;

      .tabs-charm {
        clear: both;
        position: absolute;
        left: 0;
        top: 40px;
        z-index: 2;

        li {
          width: 135px;
          opacity: 0.9;
          position: absolute;
          z-index: 99;

          &:nth-of-type(1) {
            left: 0;
            top: 0;
          }
          &:nth-of-type(2) {
            left: 140px;
            top: 0;
          }
          &:nth-of-type(3) {
            left: 67px;
            top: 120px;
          }
          &:nth-of-type(4) {
            left: 207px;
            top: 120px;
          }
          &:nth-of-type(5) {
            left: 0;
            top: 235px;
          }
          &:nth-of-type(6) {
            left: 140px;
            top: 235px;
          }

          a {
            display: block;

            .mark-at {
              background: url(../../img/tab-default-hv.png) center no-repeat;
              background-size: 100%;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              //   display: none;  /* Chưa làm được phần hover vào sẽ sáng lên vòng quanh vị tướng */

              &:hover {
                display: block;
                position: absolute;
                z-index: 99;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}

.tabs-champ li.current .mark-at,
.tabs-champ li:hover .mark-at {
  display: block;
  position: absolute;
  z-index: 99;
}
